# eclipse
.classpath
.project
.settings/

# netbeans
nbproject/
nbactions.xml

# maven
target/
javadoc/
dependency-reduced-pom.xml
build.xml

# vim
.*.sw[a-p]

# various other potential build files
build/
bin/
dist/
manifest.mf

# mac filesystem dust
.DS_Store/

# intellij
*.iml
*.ipr
*.iws
.idea/

# other files
*.log*

# package files
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*